<div class="load-data-wrapper" fxLayout="row" fxLayoutAlign="center">
  <button mat-raised-button (click)="onLoadData()" color="primary">
    {{ !isDataLoaded ? "Load Data" : "Refresh data" }}
  </button>
</div>

<div *ngIf="usersList.length">
  <table mat-table [dataSource]="usersList" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">
          {{ element.firstName }}
        </div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit first name</mat-label>
          <input matInput placeholder="Joe" [(ngModel)]="element.firstName" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef>Middle Name</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">{{ element.middleName }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit middle name</mat-label>
          <input matInput placeholder="Moe" [(ngModel)]="element.middleName" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">{{ element.lastName }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit last name</mat-label>
          <input matInput placeholder="Doe" [(ngModel)]="element.lastName" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">{{ element.email }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit email</mat-label>
          <input
            matInput
            placeholder="joe@mail.com"
            [(ngModel)]="element.email"
            type="email"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">{{ element.phone }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit phone</mat-label>
          <input
            matInput
            placeholder="6768768668"
            [(ngModel)]="element.phone"
            type="tel"
          />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div *ngIf="!isEditMode[element.id]">{{ userRoles[element.role] }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-select
            [value]="userRoles[element.role]"
            (selectionChange)="changeRole($event, i)"
          >
            <mat-option value="{{ userRoles[0] }}">SuperAdmin</mat-option>
            <mat-option value="{{ userRoles[1] }}">Admin</mat-option>
            <mat-option value="{{ userRoles[2] }}">Subscriber</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">{{ element.address }}</div>
        <mat-form-field *ngIf="isEditMode[element.id]">
          <mat-label>Edit address</mat-label>
          <input matInput placeholder="Address" [(ngModel)]="element.address" />
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>createdOn</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdOn * 1000 | customDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="modifiedOn">
      <th mat-header-cell *matHeaderCellDef>modifiedOn</th>
      <td mat-cell *matCellDef="let element">
        {{ element.modifiedOn * 1000 | customDate }}
      </td>
    </ng-container>
    <ng-container matColumnDef="mutate">
      <th mat-header-cell *matHeaderCellDef>Edit/Delete</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!isEditMode[element.id]">
          <button
            mat-raised-button
            color="primary"
            style="margin-right: 10px"
            (click)="editUser(element.id)"
            class="edit-delete-buttons"
          >
            Edit
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteUser(element.id)"
            class="edit-delete-buttons"
          >
            Delete
          </button>
        </div>
        <div *ngIf="isEditMode[element.id]">
          <button
            mat-raised-button
            color="primary"
            style="margin-right: 10px"
            (click)="saveUser(element)"
            class="edit-delete-buttons"
          >
            Save
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="cancelEdit(element.id)"
            class="edit-delete-buttons"
          >
            Cancel
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
  </table>
</div>

<div *ngIf="!usersList.length">
  <h2 style="width: 100%; text-align: center">Click on load data</h2>
</div>
